.content{
    font-family: sans-serif;
    background-color: darkgray;

    
}

.gallery1{
     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(6, 40, 68);
    padding-bottom: 20px;
    
    }
    .photo1 {
        
        width: 300px;
        height: 100px;
        box-shadow: 0px 2px 5px rgba(72, 67, 67, 0.587);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        }
        img:hover {
            transform: scale(1.1);
            }
    .heading{
        color: salmon;
       
        
    }